# Xcode and system files
.DS_Store
*.csproj
*.pidb
*.sln
*.unityproj
*.userprefs
./Library/assetDatabase3
./Library/AssetImportState
./Library/assetservercachev3
./Library/AssetVersioning.db
./Library/cache
./Library/EditorUserBuildSettings.asset
./Library/expandedItems
./Library/FailedAssetImports.txt
./Library/guidmapper
./Library/InspectorExpandedItems.asset
./Library/metadata
./Library/MonoManager.asset
./Library/previews
./Library/ProjectUsesCompressTexturesOnImport
./Library/ScriptAssemblies
./Library/ScriptMapper
./Library/TimeManager.asset
./Library/unity default resources
./Library/unity editor resources
Temp
Xcode